*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: bisque;
}
#main{
    display: flex;
}
#audio{
    margin-left: 31%;
    margin-top: 44%;
    position: absolute;
}
#left{
    margin-left: 150px;
    position: relative;
    height: 100%;
    width: 383px;
    display: flex;
}
#right{
    position: relative;
    height: 100%;
    width: calc(100%-383px);
    display: flex;
}
#left img{
    height: 600px;
    width: 1710px;   
}
#right img{
    height: 600px;
    width: 539.5px;  
}
.text1{
    color: wheat;
    position: absolute;
    top: 60%;
    font-size: xx-large;
    left: 88%;
    transform: translate(-50%, -50%);
  }
  .text2{
    position: absolute;
    top: 60%;
    font-size: xx-large;
    left: 7.5%;
    transform: translate(-50%, -50%);
  }
